<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <!--define for student bean-->
    <bean id="ReqAnnotation_Student" class="com.RequiredAnnotation.ReqAnnotation_Student">
        <property name="name" value="Zara"/>
        <!--Try without passing age and check the result(如果属性age没有配置，则会发生初始化异常)-->
        <!--property name="age" value="11"/-->

        <property name="age" value="11"/>
    </bean>

    <context:annotation-config></context:annotation-config>
    <bean id="AutAnnotation_SpellChecker" class="com.AutowiredAnnotation.AutAnnotation_SpellChecker"/>
    <bean id="AutAnnotation_TextEditor" class="com.AutowiredAnnotation.AutAnnotation_TextEditor">
        <!--roperty name="spellChecker" ref="AutAnnotation_SpellChecker"/-->
    </bean>

    <context:annotation-config></context:annotation-config>
    <bean id="AutAnnotation_TextEditor1" class="com.AutowiredAnnotation.AutAnnotation_TextEditor1"/>

    <context:annotation-config></context:annotation-config>
    <bean id="AutAnnotation_TextEditor3" class="com.AutowiredAnnotation.AutAnnotation_TextEditor3">
    </bean>

    <context:annotation-config></context:annotation-config>
    <bean id="AutAnnotation_Student" class="com.AutowiredAnnotation.AutAnnotation_Student">
        <property name="name" value="Zara"/>
    </bean>

    <!--defination for profile bean-->
    <bean id="QuaProfile" class="com.QualifierAnnotation.QuaProflie">
    </bean>

    <!--defination for student1 bean-->
    <bean id="student1" class="com.QualifierAnnotation.QuaAnnotation_Student">
        <property name="name" value="Zara"/>
        <property name="age" value="11"/>
    </bean>

    <!--defination for student2 bean-->
    <bean id="student2" class="com.QualifierAnnotation.QuaAnnotation_Student">
        <property name="name" value="Swift"/>
        <property name="age" value="20"/>
    </bean>

    <context:annotation-config></context:annotation-config>
    <bean id="JSR250Annotation_HelloWorld" class="com.JSR250_Annotation.JSR250Annotation_HelloWorld"
    init-method="init" destroy-method="destroy">
        <property name="message" value="HelloWorld!"/>
    </bean>
</beans>